html {
    box-sizing: border-box;
}

body {
    background: linear-gradient(-55deg, #f8f7f6, #525fa0, #171a5081);
    background-size: 400% 400%;
	animation: gradient 4s ease infinite;
    z-index: -10;
    overflow-x: hidden;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.flag {
    height: 80vh;
}
#prlogo {
    width: 40%;
    height: 40%;
    margin:0 0 0 -3%;
    justify-content: center;
    animation: moveToRight 2s ease-in-out;
    animation-delay: 0ms;  
}

#section-logo {
    background-color: white;
    min-height: 24em;
    margin-top:30vh;

}

@keyframes moveToRight {
    0% {
        transform: translateX(-250%);
    }
    100% {
        transform: translateX(0%);
    }
}

#prlogo img {
    box-sizing:content-box;
    max-height: 15em;
    max-width: 15em;
    z-index: 10;
    background: linear-gradient(220deg, #d6e90c, #e7a008, #d8c91c81);
    border-radius: 50%;
    margin-top: 5em;
    }

.name {
    animation: moveToLeft 3s ease-in;
    animation-delay: 0ms;
    min-width: 18rem;
    text-align: center;
}

@keyframes moveToLeft {
    0% {
        transform: translateX(400%);
    }
    100% {
        transform: translateX(0%);
    }
}

ul {
    list-style: none;
}

.header {
    display:flex;
}

#aplogo {
    margin: 0 0 0 4em;
    
}

#aplogo img {
    box-sizing:content-box;
    max-height: 4em;
    max-width: 16em;
    margin-left: -1em;
}

.nav-item a:hover {
    color:mediumblue;
    text-decoration: underline;

}

.profileImg img {
    object-fit: scale-down;
    max-width: 70%;
    min-width: 40px;
}

.project_img {
    height: 40vh;
    width: 25vw;
    min-width: 15em;
    background-color: red;
    margin: .3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project_data {
    background-color: blue;
    height: 40vh;
    width: 25vw;
    min-width: 15em;
    margin: .3em;
    display: flex;
    text-align: center;
    align-items: center;

}

.row.infoTitle {
    background-color: rgb(100, 255, 255, .3);
    border-radius: 3%;
    min-height: 2em;
}
.row.data {
    background-color: rgb(255, 200, 100, .3);
    border-radius: 3%;
    min-height: 3em;
}

.row.data div:nth-child(2) {
    display: flex;
    justify-content: start;
    align-items: center;
}

.butn {
    margin:0.5em 1em 0 0;
   
}

.butn:hover {
    color: blue;
}
.btn:hover {
    color:blue;
    background-color: rgb(255, 200, 100, .3);

}


.about-text {
    min-width: 18rem;
    text-align: center;
}