html {
    box-sizing: border-box;
}

body {
    background: linear-gradient(-45deg, #f8f7f6, #525fa0, #171a5081);
    background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    z-index: -10;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

ul {
    list-style: none;
}

.header {
    display:flex;
}

#aplogo {
    margin: 0 0 0 4em;
}

#aplogo img {

    box-sizing:content-box;
    max-height: 4em;
    max-width: 10em;
}

#prlogo {
    padding: 0 0 0 -100px;
    justify-content: center;
}

#prlogo img {

    box-sizing:content-box;
    max-height: 13em;
    max-width: 13em;
    }

.nav-item a:hover {
    color:mediumblue;
}

#section-logo {}
    height: 15em;
    z-index: 0;
    margin-top: auto;
}

section {
    margin: 5.5em 0 0 0;
}

#navbar {
    min-width:200px;
}